@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan-Medium.woff2") format("woff2"),
    url("../fonts/Spartan-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan-Regular.woff2") format("woff2"),
    url("../fonts/Spartan-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan-Bold.woff2") format("woff2"),
    url("../fonts/Spartan-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", "Roboto", sans-serif;
  font-size: 15px;
  background-color: #fbfbfb;
  color: hsl(300, 43%, 22%);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.social-proof-container {
  display: flex;
  justify-content: space-between;
}
.social-proof-rated_list {
  list-style-type: none;
  flex: 0.55;
}
.social-proof-head_left {
  flex: 0.45;
}
.social-proof-title {
  font-size: 44px;
}
.social-proof-rated_item {
  width: 445px;
  height: 55px;
  border-radius: 10px;
  background-color: #f7f2f8;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
}
/* .social-proof-rated_item::before {
  background-image: url(../images/icon-star.svg);
  width: 17px;
  height: 16px;
  content: "";
  display: block;
} */
