@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan-Medium.woff2") format("woff2"),
    url("../fonts/Spartan-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan-Regular.woff2") format("woff2"),
    url("../fonts/Spartan-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan-Bold.woff2") format("woff2"),
    url("../fonts/Spartan-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", "Roboto", sans-serif;
  font-size: 15px;
  background-color: #fbfbfb;
  color: hsl(300, 43%, 22%);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
